<h1>Manage Your Reels</h1>

<p>< Description to be added ></p>

<p *ngIf="!showReels"><em>Loading...</em></p>

<table class='table' *ngIf="showReels">
    <thead>
        <tr>
            <th>Name</th>
            <th>Video Standard</th>
            <th>Video Definition</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let showReel of showReels">
            <td>{{ showReel.name }}</td>
            <td>{{ showReel.vStandardString }} (FPS: {{ showReel.vStandard }})</td>
            <td>{{ showReel.vDefinitionString }}</td>
            <td>{{ showReel.durationString }}</td>
            <td>View</td>
        </tr>
    </tbody>
</table>
